Kalky.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Kalky.xcodeproj/project.xcworkspace/xcshareddata/Kalky.xccheckout
Kalky.xcodeproj/project.xcworkspace/xcuserdata/marcusbuffett.xcuserdatad/UserInterfaceState.xcuserstate
Kalky.xcodeproj/xcuserdata/marcusbuffett.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
